.searchBar {
    margin-bottom: 75px;
    margin-top: 200px;
}

.parentContainer {
    width: 1000px;
}

.commentItem {
    display: flex;
    justify-content: space-between;
}

.commentsRow {
    padding-left: 25px;
    padding-right: 25px;
}

.instaCommentContainer{
    margin-top: 200px;
    width: 1000px;
}
.link{
    padding-top: 9px;
    text-decoration: none;
    color: #a1a0a0;
}