.searchBar {
    margin-bottom: 75px;
    margin-top: 100px;
}

.parentContainer {
    margin-top:150px;
    width: 1000px;
}

.commentItem {
    display: flex;
    justify-content: space-between;
}

.commentsRow {
    padding-left: 25px;
    padding-right: 25px;
}

.instaCommentContainer {
    margin-top: 150px;
    width: 1000px;
}

.link {
    padding-top: 9px;
    padding-left: 20px;
    text-decoration: none;
    color: #a1a0a0;
}

.activeListeningTitle {
    font-style: italic;
    opacity: 0.5;
    padding-left: 20px;
}

.activeClassContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.legend {
    display: flex;
    padding-bottom: 100px;
    justify-content: center;
    gap: 10px;
}

.iconContainer {
    display: flex;
    gap:10px;
}